{
	"app/**/*.{ts,js,tsx,jsx}": ["eslint --fix", "prettier --write"],
	"components/**/*.{ts,js,tsx,jsx}": ["eslint --fix", "prettier --write"],
	"constants/**/*.{ts,js,tsx,jsx}": ["eslint --fix", "prettier --write"],
	"hooks/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
	"lib/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
	"services/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
	"stores/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
	"types/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
	"utils/**/*.{ts,js,tsx,jsx}": ["eslint --fix", "prettier --write"]
}
